body {
    background: white; /*for browser not supporting gradient */ 
    background: -webkit-linear-gradient(#d3d3d3, #ffffff); 
    background: -o-linear-gradient(#d3d3d3, #ffffff); 
    background: -moz-linear-gradient(#d3d3d3, #ffffff); 
    background: linear-gradient(#d3d3d3, #ffffff); 
    font-family: Calibri, Georgia;
    padding-top: 70px; 
    font-size: 16px;
}
footer {
    margin: 50px 0;
}

#Pageheader {
    position: fixed;
    width: 100%;
    height: auto;
    /*background-color: #2c3e51;*/
    display: block;
    /*color: #fff;*/
    margin: 0;
}
#txtHotelAddress {
    font-size: 16px;
    font-style:normal;
}
#container {
    display: block;
    padding-top: 70px;
}
.leftContent {
    padding-left: 5%;
    padding-right: 5%;
    border-right: 1px solid #333;
}
.RightContent {
    padding-left: 5%;
    padding-right: 5%;
}
#tblRoomSelect td {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
#HotelContent {
    font-family: Calibri;
    font-size: 16px;
}
#HotelSearch {
    padding-top: 30px;
    display: none;
    
}
