body {
    
     font-family: Calibri, Georgia;
    padding-top: 70px; 
    font-size: 16px;
}
footer {
    margin: 50px 0;
}

#PageHeader {
    background: white; /*for browser not supporting gradient */ 
    background: -webkit-linear-gradient(#a3a3a3, #ffffff); 
    background: -o-linear-gradient(#a3a3a3, #ffffff); 
    background: -moz-linear-gradient(#a3a3a3, #ffffff); 
    background: linear-gradient(#a3a3a3, #ffffff); 
    width: 100%;
    min-height: 5em; 
    border:none;
}
#txtHotelAddress {
    font-size: 16px;
    font-style:normal;
}
#container {
    display: block;
    padding-top: 70px;
}
.leftContent {
    padding-left: 5%;
    padding-right: 5%;
    border-right: 1px solid #333;
}
.RightContent {
    padding-left: 5%;
    padding-right: 5%;
}
#tblRoomSelect td {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
#HotelSearch {
    padding-top: 30px;
    display: none;
    
}
#ulHotelContent > li:nth-child(odd) { background: #d3d3d3; }
#listHotelContent a, a:hover, a:focus {
    color: #000000;
}
